.avatar {
    position: relative;
    width: 100%;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.avatar:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.img {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
}

.image-title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.avatar:hover .image-title {
    top: 90px;
}

.button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 100%;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.avatar:hover .button {
    opacity: 1;
}